/datasets/*
/yolo_train
/yolov8n.pt
/yolov8n-seg.pt
/train0
/detect/*
/segany/*
/yolo/last.pt
/yolov8m.pt
/yolov8m-seg.pt
person_yolov8n-seg.pt
/samples
/train17
/detect
/videos
/test
/yolo/*
/seg_output/*
yolov8n-seg.pt
wildcards.txt
datasets.yaml
dataset_small.yaml
ani_seg.yaml
output.png
training_command.txt
/outcome_data
/yolov8-seg.yaml
output
outpu7t.png
output4.png
output8.png
output9.png
/sam-hq
sam-hq
detect_with_segany.ipynb
generate_dataset.ipynb
/model/*
